<%if (templateData.articles) { %>
<ul>
<% templateData.articles.forEach(function(article) { %>
    <li>
        <a href="<%= templateData.baseUrl %><%= templateData.category.url %>/<%= article.url %>/"><%= article.title %></a>
        <br/><i><%= article.description %></i>
    </li>
<% }); %>
</ul>
<% } else { %>
    <%- templateData.translator.translate('There is no article currently.') %>
<% } %>
