<%if (templateData.categories) { %>
<ul>
    <% templateData.categories.forEach(function(category) { %>
    <li>
        <a href="<%- templateData.baseUrl %><%= category.url %>/"><%= category.name %></a>
        <br/><i><%= category.description %></i>
    </li>
    <% }); %>
</ul>
<% } else { %>
    <%- templateData.translator.translate('There is no category currently.') %>
<% } %>