<%if (templateData.articles.length) { %>
<ul>
<% templateData.articles.forEach(function(article) { %>
    <li>
            <a href="<%= templateData.baseUrl %><%= article.CATEGURL %>/<%= article.URL %>/"><%= article.TITLE %></a>
            <br/><i><%= article.DESCRIPTION %></i>
    </li>
<% }); %>
</ul>
<% } else { %>
    <%= templateData.translator.translate('There is no result matching your criteria.') %>
<% } %>
